<a href="https://colab.research.google.com/github/PaletteofDesign/Exploring-NumPy-Arrays-Distance-and-Time/blob/main/loading_and_filtering_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [21]:
filename = '/content/RailsToTrails_National_Count_Data_week.xlsx'
bike_df = pd.read_excel(filename, sheet_name = 'Bike Counts (14 counters)')
bike_df

   Timeframe    Week of  ...  Unnamed: 7  Unnamed: 8
0     Week 1 2020-12-30  ...         NaN         NaN
1     Week 2 2020-01-06  ...   1360263.0    0.548221
2     Week 3 2020-01-13  ...         NaN         NaN
3     Week 4 2020-01-20  ...         NaN         NaN
4     Week 5 2020-01-27  ...         NaN         NaN
5     Week 6 2020-02-03  ...         NaN         NaN
6     Week 7 2020-02-10  ...         NaN         NaN
7     Week 8 2020-02-17  ...         NaN         NaN
8     Week 9 2020-02-24  ...         NaN         NaN
9    Week 10 2020-03-02  ...         NaN         NaN
10   Week 11 2020-03-09  ...         NaN         NaN
11   Week 12 2020-03-16  ...   1256163.0    0.584516
12   Week 13 2020-03-23  ...         NaN         NaN
13   Week 14 2020-03-30  ...         NaN         NaN
14   Week 15 2020-04-06  ...         NaN         NaN
15   Week 16 2020-04-13  ...         NaN         NaN
16   Week 17 2020-04-20  ...         NaN         NaN
17   Week 18 2020-04-27  ...         NaN         NaN
18   Week 19 2020-05-04  ...         NaN         NaN
19   Week 20 2020-05-11  ...         NaN         NaN
20   Week 21 2020-05-18  ...         NaN         NaN
21   Week 22 2020-05-25  ...         NaN         NaN
22   Week 23 2020-06-01  ...         NaN         NaN
23   Week 24 2020-06-08  ...         NaN         NaN
24   Week 25 2020-06-15  ...         NaN         NaN
25   Week 26 2020-06-22  ...         NaN         NaN
26   Week 27 2020-06-29  ...         NaN         NaN
27   Week 28 2020-07-06  ...         NaN         NaN
28   Week 29 2020-07-13  ...         NaN         NaN
29   Week 30 2020-07-20  ...         NaN         NaN
30   Week 31 2020-07-27  ...         NaN         NaN
31   Week 32 2020-08-03  ...         NaN         NaN
32   Week 33 2020-08-10  ...         NaN         NaN
33   Week 34 2020-08-17  ...         NaN         NaN
34   Week 35 2020-08-24  ...         NaN         NaN
35   Week 36 2020-08-31  ...         NaN         NaN
36   Week 37 2020-09-07  ...         NaN         NaN
37   Week 38 2020-09-14  ...         NaN         NaN
38   Week 39 2020-09-21  ...         NaN         NaN
39   Week 40 2020-09-28  ...         NaN         NaN
40   Week 41 2020-10-05  ...         NaN         NaN
41   Week 42 2020-10-12  ...         NaN         NaN
42   Week 43 2020-10-19  ...         NaN         NaN
43   Week 44 2020-10-26  ...         NaN         NaN
44   Week 45 2020-11-02  ...         NaN         NaN
45   Week 46 2020-11-09  ...         NaN         NaN

[46 rows x 9 columns]

In [28]:
date_filtered = bike_df['Week of'] >= '2020-8-1'
bike_df[date_filtered]

   Timeframe    Week of  ...  Unnamed: 7  Unnamed: 8
0     Week 1 2020-12-30  ...         NaN         NaN
31   Week 32 2020-08-03  ...         NaN         NaN
32   Week 33 2020-08-10  ...         NaN         NaN
33   Week 34 2020-08-17  ...         NaN         NaN
34   Week 35 2020-08-24  ...         NaN         NaN
35   Week 36 2020-08-31  ...         NaN         NaN
36   Week 37 2020-09-07  ...         NaN         NaN
37   Week 38 2020-09-14  ...         NaN         NaN
38   Week 39 2020-09-21  ...         NaN         NaN
39   Week 40 2020-09-28  ...         NaN         NaN
40   Week 41 2020-10-05  ...         NaN         NaN
41   Week 42 2020-10-12  ...         NaN         NaN
42   Week 43 2020-10-19  ...         NaN         NaN
43   Week 44 2020-10-26  ...         NaN         NaN
44   Week 45 2020-11-02  ...         NaN         NaN
45   Week 46 2020-11-09  ...         NaN         NaN

[16 rows x 9 columns]

In [38]:
change_filtered = bike_df['Change 2019-2020'] > 1
bike_df[change_filtered]

   Timeframe    Week of  ...  Unnamed: 7  Unnamed: 8
7     Week 8 2020-02-17  ...         NaN         NaN
9    Week 10 2020-03-02  ...         NaN         NaN
11   Week 12 2020-03-16  ...   1256163.0    0.584516
13   Week 14 2020-03-30  ...         NaN         NaN
17   Week 18 2020-04-27  ...         NaN         NaN
19   Week 20 2020-05-11  ...         NaN         NaN
44   Week 45 2020-11-02  ...         NaN         NaN

[7 rows x 9 columns]

In [36]:
target_data = bike_df.loc[date_filtered & change_filtered, :]
target_data

   Timeframe    Week of  ...  Unnamed: 7  Unnamed: 8
44   Week 45 2020-11-02  ...         NaN         NaN

[1 rows x 9 columns]